<%- include('partials/header.ejs') %>

<title>Perguntas e Respostas</title>

</head>
<body>
  <div class="container">
    <%- include('partials/navbar.ejs') %>
    <div class="questions">
      <h2>Todas as Perguntas</h2>

      <div class="questions-list">
        <% perguntas.forEach(p => { %>
          <div class="question">
            <div class="close">
                <a type="submit" href="/delete/<%= p.id %>">del</a>
              </div>
            <div class="bg"></div>
            <div class="question-header">
              <%= p.titulo %>
            </div>
            <div class="question-control">
              <div class="question-icon">?</div>
              <a type="submit" class="btx my-2" href="/pergunta/<%= p.id %>">Responder</a>
            </div>
          </div>
        <% }) %>
      </div>
        
        
    </div>
  </div>

<%- include('partials/footer.ejs')%>
